@model IEnumerable<Katzavia.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="index" asp-route-SearchTypeName="-1">
<input type="text" name="SearchStringUserName" placeholder="Search by UserName" />
<input type="submit" value="Search" />

<input type="text" name="SearchTypeName" placeholder="Search by UserType" />
<input type="submit" value="SearchTypeName" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <p align="center">
        <a class="btn btn-primary" asp-action="Join">Users Info</a>
    </p>
    <p align="center">
        <a class="btn btn-primary" asp-action="FavoriteDish">Favorite Dish</a>
    </p>
</div>
